apdev-rave-ws/src/main/app/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <db:mysql-config name="MySQL_Configuration" host="${db.host}" port="${db.port}" user="${db.user}" database="${db.database}" doc:name="MySQL Configuration" password="${db.password}"/>
    <flow name="GETRaveInfoFlow">
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT * FROM 
student_record]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message" metadata:id="263504b9-9147-4719-be4e-233f6e4a663c">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload01 , indexOfPayload01) -> {
	ID: payload01.student_id,
	email: payload01.student_email,
	age: payload01.student_age,
	dob: payload01.student_dob,
	name: payload01.student_name,
	address: payload01.student_address,
	gender: payload01.student_gender,
	INFO: {
		password: payload01.student_password,
		username: payload01.student_id
	}
})]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="GetRaveInfoByIDFlow">
        <db:select config-ref="MySQL_Configuration" doc:name="Copy_of_Database">
            <db:parameterized-query><![CDATA[SELECT * FROM 
student_record
WHERE student_id = #[message.inboundProperties.'http.uri.params'.ID]]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Copy_of_Transform Message" metadata:id="263504b9-9147-4719-be4e-233f6e4a663c">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload01 , indexOfPayload01) -> {
	ID: payload01.student_id,
	email: payload01.student_email,
	age: payload01.student_age,
	dob: payload01.student_dob,
	name: payload01.student_name,
	address: payload01.student_address,
	gender: payload01.student_gender,
	INFO: {
		password: payload01.student_password,
		username: payload01.student_id
	}
})]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="POSTRaveInfoFlow">
        <set-payload value="{&quot;message&quot;: &quot;Record Added (but not really)&quot;}" doc:name="Set Payload"/>
    </flow>
</mule>
